.check {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: stretch;

  label {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }

  &__value {
    border-bottom: 1px solid red;
  }

  &__actions {
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-self: end;
  }

  &__title {
    flex-grow: 1;
  }

  &__burger {
    display: flex;
    cursor: pointer;

    span {
      display: block;
      width: 5px;
      height: 5px;
      margin: 0 2.5px;
      background-color: #0f2431;
      border-radius: 50%;
    }
  }

  &__menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0f2431;
    border-radius: 6px;
    overflow: hidden;
    z-index: 105;
  }

  &__menu-item {
    display: block;
    width: 100%;
    padding: 10px;
    font-weight: 700;
    text-align: left;
    cursor: pointer;

    &--edit {
      color: rgb(23, 191, 99);
    }

    &--remove {
      color: rgb(224, 36, 94);
    }
  }

  &__input {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
  
    &:checked + .check__box {
      border-color: rgba(#0f2431, 1);
      background-color: #0f2431;
    }
  }
  
  &__box {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid rgba(#0f2431, .5);
    border-radius: 6px;
    transition: background-color .2s ease, border-color .2s ease;

    &--checked {
      border-color: rgba(#0f2431, 1);
      background-color: #0f2431;
    }
  }
}
