$logo-colors: (
  1: transparent,
  2: #b5f4fa,
  3: #b2b0e7,
  4: #8dabe5,
);

.logo {
  overflow: hidden;
  display: inline-grid;
  grid-template-columns: 25px 25px;
  grid-template-rows: 25px 25px;

  border-radius: 6px;

  @each $count, $color in $logo-colors {
    span:nth-child(#{$count}) {
      background-color: $color;
    }
  }
}
