$parent: anota-header;

.#{$parent} {
  position: sticky;
  z-index: 9;
  top: 0;
  left: 0;

  display: grid;
  grid-template:
    auto 1fr 1fr 1fr auto repeat(2, auto) 'logo . . . count'
    'search search search search search';
  gap: 15px;
  align-items: center;

  width: 100%;
  height: auto;
  padding: 6px 20px;

  line-height: normal;

  background-color: #f0f2f5;

  &__logo {
    grid-area: logo;
    justify-self: flex-start;
  }

  &__search {
    grid-area: search;

    .ant-input-affix-wrapper {
      border-radius: 6px;
    }
  }

  &__count {
    grid-area: count;
    justify-self: flex-end;
  }

  @media (min-width: 768px) {
    grid-template-areas: 'logo search search search count';
    grid-template-rows: auto;
    gap: 35px;
  }

  @media (min-width: 1200px) {
    grid-template-areas: 'logo . search search count';
  }
}
