.anota {
  position: relative;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  text-align: center;

  &__header {
    background: transparent;
  }

  &__main {
    position: relative;
    padding: 20px;
  }

  &__btn-add-note {
    position: fixed;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
  }
}

.ant-spin-container {
  max-height: 250px;
  overflow: auto;
}

.ant-list-item {
  @media screen and (max-width: 576px) {
    flex-wrap: nowrap;
  }
}

.ant-modal-content {
  .ant-modal-body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
