.anota {
  position: relative;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  text-align: center;

  &__btn-add-note {
    position: fixed;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
  }
}

.ant-spin-container {
  max-height: 250px;
  overflow: auto;
}

.ant-list-item {
  overflow: auto;

  @media screen and (max-width: 576px) {
    flex-wrap: nowrap;
  }
}

.ant-modal-content {
  .ant-modal-body {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
  }
}

.ant-typography-copy {
  margin-left: 0;
  color: #fff;
  
  &:hover {
    color: #fff;
  }
}
